@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "./theme.css";
@import "./font.css";

@custom-variant dark (&:is(.dark *));

@keyframes preview-loading-bar {
  0%,
  100% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(400%);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  button {
    @apply cursor-pointer;
  }
  html {
    @apply text-foreground bg-background  font-dmSans scroll-smooth font-normal antialiased;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
